
body {
    margin:0;
    background-color: #ffffff;
    font-family: 'Montserrat',sans-serif;


}

.header {
    overflow: hidden;
    background-color: #2f4f4f;
}

.header-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 25px;
    float: left;
    background-color:inherit;
    color: #ffffff;;
    font-style: inherit;
    padding-top: 20px;
    padding-left: 20px;
}

.header-list {
    padding-top: 14px;
    padding-right: 126px;
    float: right;
    
}

.header-list ul {
    font-family: 'montserrat',sans-serif;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 30px;

}

.header-list ul li {
    font-size: 14px;
    display: inline;
    padding-right: 20px;
    
    
}

.header-list ul li a {
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
  transform: 0.7s;
}

.header-list ul li a:hover {
    color:#dcdcdc;
}

.main-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.child-container-1 {
    background-color: #dcdcdc;
    padding: 25px 35px 25px 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    border: 3px dashed #008B8B;
    
}

.child-container-2 {
    background-color: #dcdcdc;
    padding: 25px 35px 25px 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    border:3px dashed #008B8B;

}

.child-container-1 .intro h3{
    color: #008B8B;
    font-weight: bold;
    font-family: 'monoton';
    word-spacing: 1.5px;

}

.intro span {
    color:#2f4f4f;
    word-spacing: 1.5px;
}

.intro p {
    font-family:'montserrat';
    text-align: justify;
    word-spacing: 1.5px;

}

.child-container-2 .side-note h3{
    color: #008B8B;
    font-weight: bold;
    font-family: 'monoton';
    word-spacing: 1.5px;
    
}

.side-note span {
    color: #2f4f4f;
    word-spacing: 1.5px;
}

.side-note p {
    font-family: 'montserrat';
    text-align: justify;
    word-spacing: 1.5px;

}

.footer {
    overflow: hidden;
    background-color: #2f4f4f;
}


.footer-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 25px;
    float: left;
    background-color:inherit;
    color: #ffffff;;
    font-style: inherit;
    padding-top: 15px;
    padding-left: 20px;

}

.footer-list {
    float: right;
    padding-top: 6px;
    padding-right: 35px;
}

.footer-list ul {
    list-style: none;
    padding-left: 0;

}

.footer-list ul li {
    display: inline;
    padding-right: 20px;
}

.fa {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transform: 0.7s;

}

.fa-instagram:hover {
    color: #cd486b;

}

.fa-twitter:hover {
    color: #00acee;
}

.fa-github:hover {
    color:#333;
}