
body {
    margin:0;
    background-color: #ffffff;
    font-family: 'Montserrat',sans-serif;


}

.header {
    overflow: hidden;
    background-color: #008B8B;
}

.header-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 25px;
    float: left;
    background-color:inherit;
    color:#ffffff;
    font-style: inherit;
    padding-top: 20px;
    padding-left: 20px;
}

.header-list {
    padding-top: 14px;
    padding-right: 20px;
    float: right;
    

}

.header-list ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 30px;

}

.header-list ul li {
    font-size: 14px;
    display: inline;
    padding-right: 10px;
    
    
}

.header-list ul li a {
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
  transform: 0.7s;
}

.header-list ul li a:hover {
    color:#2f4f4f;
}

.main-container {
    margin: 100px 100px 100px 100px;
}

.child-container-1 {
    padding: 25px 50px 25px 50px;
    border:1px solid black;
    
    
}

.child-container-2 {
    padding: 25px 50px 25px 50px;
    border:1px solid black;

}

.intro {

}

.intro p {
    overflow: hidden;
    text-align: justify;
    word-spacing: 2px;

}

.side-note {
    
}

.side-note p {

    text-align: justify;
    word-spacing: 2px;
    

}